.margin{width: 1200px;margin: 0 auto;}

html{
    max-width: 100%;
}
body{
    min-width: 1200px;
}
.margin{
    width: 1200px;
    margin: 0 auto;
}
$bgcolor:#fafafa;

$margin: 0 5px;

$float:left;

@mixin border($size,$style,$color){
    border-style: $style;
    border-width: $size;
    border-color: $color;
}   

@mixin flex($a-i,$j-c){
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: $j-c;
    align-items: $a-i;
}

@mixin font($weight,$size,$line,$family) {
    font-size: $size;
    font-weight: $weight;
    font-family: $family;
    line-height: $line;
}

@mixin auto {
    position: absolute;
    left: 0;
    right: 0;
}

//导航区域
nav{
    background: $bgcolor;
    @include border(1px, solid, #f0f0f0)
}

nav{
    > .margin{
        @include flex(center, space-between);
        height: 30px;
        padding: 0 5px;
    }
    .left{
        a{
            margin: $margin;
        }
    }
    .right{
        ul{
            li{
                float: left;
                margin: $margin;
            }
        }
    }
}

// header区域

header{
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding-top: 20px;
    .center{
        form{
            @include flex(stretch, space-between);
            @include border(2px, solid, #309ae6);
            input{
                background: none;
                border: none;
            }
            #sec{
                @include font(normal, 14px, 36px, "");
                width: 60px;
                text-align: center;
                border-right: 1px solid #ddd;
            }
            #keyword{
                width: 300px;
                text-indent: 5px;
                line-height: 24px;
            }
            #search{
                width: 80px;
                @include font(normal, 14px, 36px, "");
                cursor: pointer;
                background: #309ae6;
                color: #fff;
            }
        }
        dl{
            overflow: hidden;
            margin-top: 5px;
            @include flex(center, space-between);
            dt{
                float: $float;
                color: #999;
            }
            dd{
                float: $float;
            }
        }

    }
    .right{
        > a{
            display: block;
            width: 130px;
            @include font(normal, 12px, 40px, "");
            background: $bgcolor;
            text-align: center;
        }
    }
}
.nav{
    height: 38px;
    @include flex(center, flex-start);
    > h3{
        @include font(normal, 14px, 38px,"" );
        background: #309AE6;
        width: 202px;
        padding-left: 30px;
        color: #fff;
    }
    ul{
        @include flex(center, space-between);
        border-bottom: 2px solid #eee;
        padding-left: 10px;
        li{
            @include font(normal, 16px, 40px, "" );
            margin-right: 20px;
            a{
                color: #000;
            }
        }
    }
}


.crumbs{
    font: 12px/40px "宋体";
    color: #AAA;
}

.content{
    display: flex;
    .left{
        width: 210px;
        border-top:solid 2px #D7D7D7;
        padding-top: 10px;
        .history{
            border: 1px solid #D7D7D7;
            a{
                display: block;
            }
            a.recent{
                background: #F5F5F5;
                font: 14px/36px "";
                text-indent: 10px;
            }
            a.all{
                font: 12px/40px "";
                text-align: center;
                &:hover{
                    color:#F87622 ;
                }
            }
        }
    }
    
    .right{
        flex: 1;
        margin-left: 15px;
        .sort{
            display: flex;
            font: 12px/40px "";
            background: #f7f7f7;
            border: 1px solid #d7d7d7;
            p{
                width: 80px;
                text-align: center;
            }
            ul {
                li{
                    float: left;
                    a{
                        padding: 10px;
                    }
                }
            }
        }
        .goods {
            margin-top: 20px;
            ul{
                box-sizing: border-box;
                li{
                    border: 1px solid #d0d0d0;
                    width: 230px;
                    text-align: center;
                    float: left;
                    margin-bottom: 20px;
                    margin-right: 15px;
                    height: 330px;
                    &:nth-child(4){
                        margin-right: 0;
                    }
                    &:nth-child(8){
                        margin-right: 0;
                    }
                    &:nth-child(12){
                        margin-right: 0;
                    }
                    img{
                        margin: 5px 5px 0 5px;
                        max-width: 220px;
                        max-height: 220px;
                    }
                    p{
                        @include font(normal, 14px, 16px, "");
                        width: 210px;
                        padding: 0 10px;
                        margin-top: 10px;
                        // height: 30px;
                    }
                    .items {
                        img{
                            width: 28px;
                            height: 28px;
                        }
                    }
                    .price{
                        @include font(600, 18px, 30px, "");
                        color: #c00;
                    }
                }
            }
            p{
                width: 230px;
            }
        }
    }
}











