html {
  max-width: 100%; }

body {
  min-width: 1200px; }

.margin {
  width: 1200px;
  margin: 0 auto; }

nav {
  background: #fafafa;
  border-style: solid;
  border-width: 1px;
  border-color: #f0f0f0; }

nav > .margin {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  padding: 0 5px; }

nav .left a {
  margin: 0 5px; }

nav .right ul li {
  float: left;
  margin: 0 5px; }

header {
  display: flex;
  justify-content: space-between;
  height: 80px;
  padding-top: 20px; }
  header .center form {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    border-style: solid;
    border-width: 2px;
    border-color: #309ae6; }
    header .center form input {
      background: none;
      border: none; }
    header .center form #sec {
      font-size: 14px;
      font-weight: normal;
      font-family: "";
      line-height: 36px;
      width: 60px;
      text-align: center;
      border-right: 1px solid #ddd; }
    header .center form #keyword {
      width: 300px;
      text-indent: 5px;
      line-height: 24px; }
    header .center form #search {
      width: 80px;
      font-size: 14px;
      font-weight: normal;
      font-family: "";
      line-height: 36px;
      cursor: pointer;
      background: #309ae6;
      color: #fff; }
  header .center dl {
    overflow: hidden;
    margin-top: 5px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    header .center dl dt {
      float: left;
      color: #999; }
    header .center dl dd {
      float: left; }
  header .right > a {
    display: block;
    width: 130px;
    font-size: 12px;
    font-weight: normal;
    font-family: "";
    line-height: 40px;
    background: #fafafa;
    text-align: center; }

.nav {
  height: 38px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .nav > h3 {
    font-size: 14px;
    font-weight: normal;
    font-family: "";
    line-height: 38px;
    background: #309AE6;
    width: 202px;
    padding-left: 30px;
    color: #fff; }
  .nav ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #eee;
    padding-left: 10px; }
    .nav ul li {
      font-size: 16px;
      font-weight: normal;
      font-family: "";
      line-height: 40px;
      margin-right: 20px; }
      .nav ul li a {
        color: #000; }

.banner {
  margin: 0 auto;
  position: relative;
  height: 400px;
  width: 100%; }
  .banner .imgbox {
    position: absolute;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 400px;
    top: 0; }
    .banner .imgbox > img {
      display: block;
      width: 1423px;
      height: 400px;
      position: absolute; }
  .banner .btns {
    display: none; }
    .banner .btns input {
      width: 40px;
      height: 40px;
      background: rgba(200, 200, 200, 0.6);
      border: none;
      position: absolute;
      top: 180px; }
  .banner #left {
    left: 0; }
  .banner #right {
    right: 0; }

.menu {
  position: relative;
  height: 400px; }
  .menu > ul {
    position: absolute;
    z-index: 99999;
    left: 0;
    width: 232px;
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 400px;
    top: 0; }
    .menu > ul > li.list {
      font: 14px/34px "";
      width: 232px;
      text-indent: 20px;
      height: 34px; }
      .menu > ul > li.list:hover {
        background: #309ae6; }
      .menu > ul > li.list > a {
        color: #fff; }
      .menu > ul > li.list .items {
        position: absolute;
        left: 232px;
        top: 0;
        width: 300px;
        background: #fff; }
        .menu > ul > li.list .items a {
          float: left;
          width: 33%;
          text-align: center;
          line-height: 60px;
          border-bottom: 1px dashed gray; }
  .menu .login {
    position: absolute;
    z-index: 99999;
    right: 0;
    background: rgba(253, 253, 253, 0.9);
    height: 400px;
    width: 232px; }
    .menu .login .top {
      text-align: center; }
      .menu .login .top img {
        width: 65px;
        margin: 5px 0;
        border-radius: 50%; }
      .menu .login .top p {
        font-size: 12px;
        font-weight: normal;
        font-family: "";
        line-height: 24px; }
    .menu .login .btns {
      border-style: solid;
      border-width: 1px;
      border-color: #e3e3e3;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      .menu .login .btns a {
        font-size: 12px;
        font-weight: normal;
        font-family: "";
        line-height: 38px;
        flex: 1; }
    .menu .login .securePanel {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 15px;
      margin-bottom: 16px; }
      .menu .login .securePanel li img {
        width: 40px; }
    .menu .login > dl {
      padding: 0 10px; }
      .menu .login > dl dt {
        border-bottom: 1px solid #e3e3e3;
        font-size: 16px;
        font-weight: normal;
        font-family: "";
        line-height: 30px;
        margin-bottom: 10px; }
        .menu .login > dl dt span {
          float: right; }
      .menu .login > dl dd {
        font-size: 12px;
        font-weight: normal;
        font-family: "";
        line-height: 20px;
        margin: 5px 0; }

.contribute {
  margin-top: 20px; }
  .contribute dl {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .contribute dl dt {
      float: left; }
    .contribute dl dd {
      float: left;
      border-style: solid;
      border-width: 1px;
      border-color: #555; }

.wrapper {
  overflow: hidden;
  margin-top: 10px; }
  .wrapper ul {
    float: left;
    border-bottom: 1px solid #f0f0f0; }
    .wrapper ul li {
      float: left;
      font-size: 14px;
      font-weight: 600;
      font-family: "";
      line-height: 40px;
      width: 195px;
      text-align: center;
      cursor: pointer; }
      .wrapper ul li .wrapper-a {
        border-top: 2px solid #f0f0f0;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .wrapper ul li .wrapper-a li a {
          display: block;
          margin-top: 15px;
          width: 195px; }
          .wrapper ul li .wrapper-a li a img {
            width: 160px;
            height: 160px; }
  .wrapper > img {
    float: right; }

.floor {
  margin-top: 20px; }
  .floor h3 {
    font-size: 22px;
    font-weight: normal;
    font-family: "";
    line-height: 40px;
    background: #C1392B;
    width: 212px;
    color: #fff;
    text-align: center; }
    .floor h3 span {
      margin-right: 10px; }
  .floor .floorstyle {
    margin: 20px 0;
    position: relative; }
    .floor .floorstyle .left {
      width: 212px;
      height: 520px;
      float: left;
      background: #F9EEF2; }
      .floor .floorstyle .left ul {
        padding: 0 15px;
        margin-top: 20px; }
        .floor .floorstyle .left ul li {
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          justify-content: space-around;
          align-items: center;
          font-size: 12px;
          font-weight: normal;
          font-family: "";
          line-height: 30px; }
      .floor .floorstyle .left .left-img {
        position: relative;
        height: 295px;
        margin: 10px 0; }
        .floor .floorstyle .left .left-img > img {
          position: absolute;
          left: 0;
          right: 0;
          margin: 0 auto; }
      .floor .floorstyle .left > dl {
        padding: 0 15px;
        margin-top: 20px; }
        .floor .floorstyle .left > dl dt {
          font-size: 12px;
          font-weight: normal;
          font-family: "";
          line-height: 30px; }
        .floor .floorstyle .left > dl dd {
          padding: 0 10px;
          margin-top: 10px; }
    .floor .floorstyle .imgbox {
      height: 520px;
      border-top: 2px solid #C1392B;
      width: 358px;
      position: absolute;
      left: 212px;
      overflow: hidden; }
      .floor .floorstyle .imgbox img {
        width: 358px;
        height: 520px;
        display: block;
        position: absolute; }
    .floor .floorstyle .oneFright {
      float: right;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
      border-top: 2px solid #C1392B;
      flex-wrap: wrap;
      width: 629px; }
      .floor .floorstyle .oneFright a {
        width: 208px;
        text-align: center;
        border-style: solid;
        border-width: 0 1px 1px 0;
        border-color: transparent #DDD #DDD transparent;
        padding-top: 14px; }
        .floor .floorstyle .oneFright a img {
          width: 140px;
          height: 184px; }
        .floor .floorstyle .oneFright a p {
          font-size: 14px;
          font-weight: normal;
          font-family: "";
          line-height: 23px;
          margin: 9px 0; }
        .floor .floorstyle .oneFright a span {
          font-size: 18px;
          font-weight: normal;
          font-family: "";
          line-height: 20px;
          color: #C1392B; }

.bottom {
  border: 1px solid #eee; }
  .bottom > h4 {
    font-size: 14px;
    font-weight: normal;
    font-family: "";
    line-height: 40px;
    background: #eee;
    width: 100%;
    text-indent: 15px; }
    .bottom > h4 span {
      margin: 0 3px; }
  .bottom .link {
    padding: 10px; }
    .bottom .link a {
      margin: 5px;
      color: #555;
      line-height: 35px; }

.footer {
  text-align: center;
  font-size: 12px !important;
  border-top: 1px solid #e7e7e7;
  padding-bottom: 10px;
  overflow: hidden;
  background: #F5F5F5;
  width: 100%;
  margin-top: 20px; }
  .footer p {
    margin: 10px 0; }
  .footer span {
    margin: 0 5px; }
