.margin{
    width: 1200px;
    margin:  0 auto;
}

$bgcolor:#fff;
@mixin border($size,$style,$color){
    border-style: $style;
    border-width: $size;
    border-color: $color;
}   

@mixin flex($a-i,$j-c){
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: $j-c;
    align-items: $a-i;
}

@mixin font($weight,$size,$line,$family) {
    font-size: $size;
    font-weight: $weight;
    font-family: $family;
    line-height: $line;
}

@mixin auto {
    position: absolute;
    left: 0;
    right: 0;
}
.margin{
    width: 1000px;
}
body{
    background: #fafafa;
}
header{
    @include border(2px,solid,#f5f5f5);
    background: $bgcolor;
    .logo{
        @include flex(center,space-between);
        height: 80px;
    }
}

.body{
    .content{
        // @include flex(stretch,space-between);
        // flex-direction: row;
        img{
            margin: 70px 0;
            float: left;
            width: 578px;
        }
        .msg{
            margin: 70px 0;
            background: $bgcolor;
            padding: 32px 23px 29px;
            box-shadow: 0 0 10px #E2E2E2;
            float: right;
            p{
                @include font(normal,14px,21px,"");
                text-align: right;
                color: #b2b2b2;
                margin-top: 10px;
            }
            .seclogin{
                @include flex(center,space-between);
                margin-top: 10px;
                border-bottom: 3px solid #ccc;
                > a{
                    color: #149eff;
                    @include font(normal, 14px, 40px, "");
                    text-align: center;
                    flex: 1;
                    &:hover{
                        color:#2194ed;
                        display: block;
                        border-bottom: 3px solid#2194ed;
                    }
                }
            }
            > ul{
                li{
                    @include font(normal, 14px, 30px, "");
                    @include border(2px, solid, #e6e6e6);
                    border-radius: 4px;
                    margin-top: 15px;
                    padding: 10px;
                    input{
                        background: none;
                        border: none;
                        @include font(normal, 14px, 35px, "");
                    }
                    span{
                        margin-right: 10px;
                    }
                }
                li.focus{
                    border-color: #2194ed;
                }
            }
            .tip{
                float: left;
                @include font(700, 14px, 50px, "");
                color: red;
            }
            a.forget{
                float: right;
                color: #333;
                @include font(normal, 12px, 50px, "");
            }
            #login{
                // text-align: center;
                // display: block;
                @include font(600, 16px, 56px, "microsoft yahe");
                color: $bgcolor;
                background-color:#2194ed;
                width: 330px;
                @include border(1px, solid, #cccccc);
                border-radius: 3px;
                cursor: pointer;
            }
        }
    }
}









